<!--
.. title: Investigating & Archiving the Scholarly Git Experience
.. slug: index
.. date: 2018-11-05 14:28:00 UTC-04:00
.. hidetitle: True
.. description: Homepage for our Sloan-funded project to investigate and archive git materials.
.. type: text
-->

<!DOCTYPE html>
<html lang="en">
 <body>
  

        <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>IASGE has finished</strong> but a new project has emerged to build on its foundation! <a href="https://cosai.gitlab.io">Check out CoSAI >> </a>
       </div>

  
       <div class="jumbotron">
          <h1 class="display-4">Investigating & Archiving the Scholarly Git Experience <img src="images/investigate-git.png"></h1>
          <p class="lead">An Alfred P. Sloan Foundation <a href="https://sloan.org/grant-detail/8723">funded project</a> that seeks to investigate the scholarly git experience, and inform the way code and annotations on Git hosting platforms can be made stable, permanently citable, and under active preservation following an established and accepted workflow. </p>
      </div>
      
      <div class="card-deck">
        <div class="card mb-3 bg-secondary">
            <h4 class="card-header">Latest Updates <i class="fas fa-pencil-alt"></i></h4>
            <div class="card-body">
            {{% post-list stop=4 %}}{{% /post-list %}}
            </div>
            <p class="card-text text-muted card-footer"><a href="/updates/">Read more from us <i class="fas fa-angle-double-right"></i></a></p>
        </div>
        <div class="card mb-3 bg-secondary">
            <h4 class="card-header">Weekly Readings <i class="fas fa-book-reader"></i></h4>
            <div class="card-body">
            <ul>
              <li><a href="http://www.walkingrandomly.com/?p=6653">Academic Benefits of Using git and GitHub</a></li>
              <li><a href="https://www.sara-service.org/">Software Archiving of Research Artefacts</a></li>
              <li><a href="https://elifesciences.org/labs/e623676c/reproducibility-automated">Reproducibility: automated</a></li>
              <li><a href="http://www.dlib.org/dlib/july16/rios/07rios.html">The Pathways of Research Software Preservation: An Educational and Planning Resource for Service Development</a></li>
            </ul>
            </div>
            <p class="card-text text-muted card-footer"><a href="/reading-list/">See full reading list <i class="fas fa-angle-double-right"></i></a></p>
        </div>
        <div class="card mb-3 bg-secondary">
            <h4 class="card-header">#IASGE <i class="fab fa-twitter"></i></h4>
            <div class="card-body">
              <p lang="en" dir="ltr">beyond thrilled to announce the first <a href="https://twitter.com/hashtag/IASGE?src=hash">#IASGE</a> paper has been published in the proceedings of <a href="https://twitter.com/hashtag/hicss54?src=hash">#hicss54</a>!! <a href="https://twitter.com/gen_milliken">@gen_milliken</a> <a href="https://twitter.com/snewyuen">@snewyuen</a> 🤜🤛 give it a read if you are interested in how folx in academia are learning + using Git+GHPs: <a href="https://scholarspace.manoa.hawaii.edu/handle/10125/71493">https://t.co/VX3gXsfwyD</a> &mdash; <a href="https://twitter.com/VickyRampin/status/1346887237917696011">@VickyRampin</p>
            </div>
            <p class="card-text text-muted card-footer"><a href="https://twitter.com/search?q=%23IASGE&src=recent_search_click&f=live">Scroll all #IASGE tweets<i class="fas fa-angle-double-right"></i></a></p>
        </div>
        </div>
           
 </body>
</html>
